{
    "config": {
	"mailpwd": "",
        "mails": [
            "1451762067@qq.com"
        ],
        "mailuser": "1451762067@qq.com",
        "sleep": 3600,
        "urls": [
            "https://www.youtube.com/c/tengfeiofficial/videos",
            "https://www.youtube.com/c/YuanTengfei/videos",
            "https://www.youtube.com/channel/UCtAIPjABiQD3qjlEl1T5VpA/videos",
            "https://www.youtube.com/channel/UCNE3Tho7XQ39iSUTafPmMpQ/videos",
            "https://www.youtube.com/channel/UCZNxe_9FQAK2Z3suwaZlwpQ/videos",
            "https://www.youtube.com/channel/UCFhktojBok7f7CD4ykaRKTA/videos",
            "https://www.youtube.com/c/%E6%9D%8E%E6%B0%B8%E4%B9%90%E8%80%81%E5%B8%88/videos",
            "https://www.youtube.com/channel/UC5RtC9dKUJ9noJ4C6N4XnmQ/videos",
            "https://www.youtube.com/channel/UCSgGqt-30oXBq0-n0K-t4Nw/videos"
        ]
    }
}
